body
{
    background-color: #161616;
    font-family: 'Oxygen', 'Segoe UI', sans-serif;
}

h1
{
    text-align:center;
    font-weight: 300;
    font-size: 3em;
    color: #eedbdb;
    text-shadow: 2px 2px 1px #f5ff00, -2px 2px 1px #f500ff, 0 -2px 1px #0ff;
}

#game
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #eedbdb;
    box-shadow: 2px 2px 1px #f5ff00, -2px 2px 1px #f500ff, 0 -2px 1px #0ff;
}